<div class="p-4">
    <div class="container">
        <h2><img class="card-img-top" style="width: 50px; margin-right: 15px;"  src="https://www.kindpng.com/picc/m/144-1443851_medical-logo-png-medical-laboratory-logo-png-transparent.png"  alt="Logo">ABC Laboratory System</h2>
        <p>Hi {{user?.name}}, You're logged in to the Lab System</p>
    </div>
</div>
<div class="p-4">
    <div class="container">
    <div class="row">
        <div class="col-sm-2 d-flex">
            <div class="card flex-fill" style="width: 100%;">
                <img class="card-img-top" src="https://www.kindpng.com/picc/m/420-4203252_calendar-day-event-appointment-month-organizer-year-icon.png"  alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Appointments</h5>
                <p class="card-text">You can add appointmnets directly from here.</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">Add Appointment</a>
                        <a href="#" class="btn btn-primary">View All</a>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex">
            <div class="card flex-fill" style="width: 100%;">
                <img class="card-img-top" src="https://www.kindpng.com/picc/m/239-2399074_transparent-patient-png-doctor-patients-clipart-png-png.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Patients</h5>
                    <p class="card-text">You can add patients directly from here.</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">Add Patient</a>
                        <a href="#" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex">
            <div class="card flex-fill" style="width: 100%;">
                <img class="card-img-top" src="https://www.kindpng.com/picc/m/129-1298165_receptionist-clipart-school-registrar-staff-cartoon-hd-png.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">You can add staff directly from here. Doctor, etc</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">Add Staff</a>
                        <a href="#" class="btn btn-primary">View All</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex">
            <div class="card flex-fill" style="width: 100%;">
                <img class="card-img-top" src="https://www.kindpng.com/picc/m/207-2075829_transparent-healthcare-clipart-medical-report-icon-hd-png.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>
                    <p class="card-text">You can check reports directly from here. Blood Reports, etc</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">Add Report</a>
                        <a href="#" class="btn btn-primary">View All</a>
                      </div>
                </div>
            </div>
        </div>
        
    </div>

    
</div>